.container {
    border: 1px solid #000
    width: 800px;
    display: flex;
    flex-wrap: wrap;

    
    
    
}

.container div {
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    box-sizing: border-box;

}